@inherits LayoutComponentBase
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Authorization
@using EPMS.Client.Identity
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider

<style>
    .main-layout, .mud-layout {
        height: 100% !important;
    }
</style>

<MudThemeProvider />
<MudLayout Class="main-layout">
    <MudAppBar Elevation="1" Color="Color.Primary">
        @if (!IsLoginPage)
        {
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        }
        <div class="d-flex align-items-center">
            <MudAvatar Color="@(IsLoginPage ? Color.Inherit : Color.Secondary)" Size="Size.Medium" Class="mr-3">
                <MudIcon Icon="@Icons.Material.Filled.Insights" Size="Size.Medium" />
            </MudAvatar>
            <div>
                <MudText Typo="Typo.h6" Color="Color.Inherit" Class="fw-bold">Employee Performance Management System</MudText>
            </div>
        </div>
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                <MudChip T="string" Color="@(IsLoginPage ? Color.Inherit : Color.Secondary)" Size="Size.Medium" Class="mr-4">
                    Welcome, @context.User.Identity?.Name!
                </MudChip>
                <MudButton Variant="Variant.Outlined" Color="Color.Inherit" OnClick="HandleLogout" StartIcon="@Icons.Material.Filled.Logout">
                    Logout
                </MudButton>
            </Authorized>
            <NotAuthorized>
                @if (!IsLoginPage)
                {
                    <MudButton Variant="Variant.Outlined" Color="Color.Inherit" Href="/login" StartIcon="@Icons.Material.Filled.Login">
                        Login
                    </MudButton>
                }
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>

    @if (!IsLoginPage)
    {
        <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="4">
            <NavMenu CloseDrawer="() => _drawerOpen = false" />
        </MudDrawer>
    }

    <MudMainContent Class="@(IsLoginPage ? "mt-16" : "mt-16 pa-8")" Style="@(IsLoginPage ? "height: calc(100% - 64px); padding: 0;" : "")">
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private bool _drawerOpen = true;
    private bool IsLoginPage => Navigation.Uri.Contains("/login");

    private async Task HandleLogout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        ((JwtAuthenticationStateProvider)AuthStateProvider).NotifyUserLogout();
        Navigation.NavigateTo("/login");
    }

    private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }
}
